header{
    background-size: cover;
    background-position: 0px -600px;
    padding: 15px;
    
    margin: 0px;
    
}
.logo{
    max-width: 150px;
}
.cabeçalho{
    background-color: rgb(175, 244, 237);
    margin: 0px;
    
}
.nav{
    position: absolute;
    top: -50px;
   left: 66%;
   background-color: rgb(253, 253, 253);
   margin: 100px;
}
.Arduino{
    background-color: rgb(253, 253, 253);
    padding: 60px;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    margin: 0px;
}
.texto-sobre{
margin-top: 40px;
}
.texto-sobre h1{
    font-size: 35px;
}
#menuToggle{
    display: none;
}
.menu-icon{
    display: none;
}
.logofooter{
  
    max-width: 100px;
}
.sobre h1
{
     text-align: center;
}
.sobre{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(175, 244, 237);
 padding: 40px;
}
.sobre p{
    text-align: center;
}
.logofooter{
    max-width: 100px;
    display: block;
    margin-left: 290px;
   
} 
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(253, 253, 253);
   
}